USE [master]
GO
/****** Object:  Database [Hana_Shop]    Script Date: 11/1/2021 4:02:12 PM ******/
CREATE DATABASE [Hana_Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hana_Shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hana_Shop.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hana_Shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Hana_Shop_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hana_Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hana_Shop]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[CategoryID] [varchar](10) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblCategorys] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[OrderDetailID] [varchar](10) NOT NULL,
	[OrderID] [varchar](10) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_tblOrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[OrderID] [varchar](10) NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[DateOrder] [varchar](10) NOT NULL,
	[TotalMoney] [float] NOT NULL,
 CONSTRAINT [PK_tblOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[ProductID] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[CategoryID] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblFoods] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUpdateHistory]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUpdateHistory](
	[ID] [int] NOT NULL,
	[DateOfUpdate] [varchar](10) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblUpdateHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 11/1/2021 4:02:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserID] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[Role] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (N'1', N'Jewelry')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (N'2', N'Home Decor')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (N'3', N'Clothing, Shoes & Accessories')
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'1', N'1', N'P03', 2, 4)
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'10', N'5', N'P11', 1, 10)
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (N'11', N'5', N'P08', 2, 4)
INSERT [dbo].[tblOrders] ([OrderID], [CustomerID], [DateOrder], [TotalMoney]) VALUES (N'1', N'user1', N'2021-01-21', 12)
INSERT [dbo].[tblOrders] ([OrderID], [CustomerID], [DateOrder], [TotalMoney]) VALUES (N'2', N'user1', N'2021-01-23', 28)
INSERT [dbo].[tblOrders] ([OrderID], [CustomerID], [DateOrder], [TotalMoney]) VALUES (N'3', N'user1', N'2021-01-23', 16)
INSERT [dbo].[tblProducts] ([ProductID], [Name], [Image], [Price], [CategoryID], [Quantity], [Status], [CreateDate], [Description]) VALUES (N'P02', N'Live Edge Cherry Wood Naturally Form', N'https://m.media-amazon.com/images/I/71a1zkOhaoL._SL1500_.jpg', 10, N'2', 20, 1, N'2021-01-20', N'Materials: Cherry Wood Slab, Solid Iron Legs, Solid Iron Connecting Parts Application: It is Live Edge in raw form. Only preventive maintenance oil has been applied. (Natural linseed oil) (As seen in the pictures. Please look at the pictures carefully.)')
INSERT [dbo].[tblUpdateHistory] ([ID], [DateOfUpdate], [ProductID], [UserID]) VALUES (1, N'2021-01-23', N'P11', N'admin')
INSERT [dbo].[tblUpdateHistory] ([ID], [DateOfUpdate], [ProductID], [UserID]) VALUES (2, N'2021-01-23', N'P03', N'admin')
INSERT [dbo].[tblUpdateHistory] ([ID], [DateOfUpdate], [ProductID], [UserID]) VALUES (3, N'2021-01-23', N'P07', N'admin')
INSERT [dbo].[tblUsers] ([UserID], [Name], [Password], [Email], [Address], [SDT], [Role]) VALUES (N'admin', N'Diệp Đặng Huy Hoàng', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'hoangddhse140693@fpt.edu.vn', N'Gia Biện, Phú Giáo, Bình Dương', N'0967275854', N'admin')
INSERT [dbo].[tblUsers] ([UserID], [Name], [Password], [Email], [Address], [SDT], [Role]) VALUES (N'user1', N'Cao Van Truong', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'tomvip9a2@gmail.com', N'Cu Chi, tp.HCM', N'0123456789', N'user')
INSERT [dbo].[tblUsers] ([UserID], [Name], [Password], [Email], [Address], [SDT], [Role]) VALUES (N'user2', N'Tran Gia Nguyen', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'hoangtomtl@gmail.com', N'Q9, TP.HCM', N'0987654321', N'user')
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblOrders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrders] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblOrders]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblProducts]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_tblOrders_tblUsers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_tblOrders_tblUsers]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblCategories]
GO
ALTER TABLE [dbo].[tblUpdateHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblUpdateHistory_tblProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblUpdateHistory] CHECK CONSTRAINT [FK_tblUpdateHistory_tblProducts]
GO
ALTER TABLE [dbo].[tblUpdateHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblUpdateHistory_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[tblUpdateHistory] CHECK CONSTRAINT [FK_tblUpdateHistory_tblUsers]
GO
USE [master]
GO
